<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"></head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>编辑个人信息</h4>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/profile/edit}" method="post">
                            <div class="mb-3">
                                <label class="form-label">用户名</label>
                                <input type="text" class="form-control" name="username" th:value="${user.username}"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">手机号</label>
                                <input type="text" class="form-control" th:value="${user.phone}" readonly>
                                <small class="form-text text-muted">手机号不可修改</small>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">学号</label>
                                <input type="text" class="form-control" name="sno" th:value="${user.sno}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">宿舍</label>
                                <input type="text" class="form-control" name="dormitory" th:value="${user.dormitory}">
                            </div>
                            <div class="d-flex justify-content-between">
                                <a th:href="@{/profile}" class="btn btn-outline-secondary">取消</a>
                                <button type="submit" class="btn btn-primary">保存修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>